body {
    background-image: url(splashfightersbackground.jpg);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

h1 {
    color: white;
}

ul {
    border: 2px solid lightblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: aquamarine;
}

li {
    flex-grow: 1;
    text-align: center;
    display: inline;
    padding: 10px 15px;
    border-right: 0.5px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.my-class {
    color: red;
}

li:hover {
    background-color: #666;
}